/*Main CSS*/
body{
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
    image-rendering:pixelated;
    image-rendering:-moz-crisp-edges;
    image-rendering:crisp-edges;
    font-family:determination_sans_webregular;
    overflow-y: scroll; 
    /* Background code for future use.
    background-image:url(Assets/background.gif);
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    image-rendering:pixelated;
    */
}
p{
    font-size: 20px;
    margin: 0% 10%;
    color: white;
}
h1{
    color: #3F5FFF;
    font-size: 45px;
}
h2{
    color: #96A7FF;
    font-size: 25px;
}
@font-face{
    font-family:determination_sans_webregular;
    src:url(Assets/determinationsanswebregular-369x-webfont.woff) format("woff");
}
/*Custom Scrollbar*/
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #3F5FFF; 
}
::-webkit-scrollbar-thumb:hover {
    background: #2339a3; 
}

/* Links */
nav{
    padding: 15px;
    background-color: #18191c;
}
a{
    color: #3F5FFF;
    font-size: 30px;
    padding: 15px 5%;
}
.links a:link{
    text-decoration: none;
}
.links a:hover{
    color: white;
}
.active{
    background-color: #3F5FFF;
    color: white;
}

.miscellink a:link{
    color: #96A7FF;
    text-decoration: none;
}
.miscellink a:visited{
    color: #96A7FF;
}
.miscellink a:hover{
    color: white;
    text-decoration: underline;
}

/*Home*/
#homeimage{
    width: 25%;
    height: 25%;
    border: 3px solid #3F5FFF;
}   
.aboutme{
    margin: 5% 10%;
}

/*Drawings*/
.grid{
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    justify-items: center;
}
.grid img{
    width: 50%;
    border: 3px solid #3F5FFF;
}

/*Diary*/
.diary img{
    width: 50%;
    border: 3px solid #3F5FFF;
}
.diary video{
    width: 50%;
    border: 3px solid #3F5FFF;
}

