body {
background: black;
color: white;
background-image: url('Files/background.gif'); 
background-size: cover;
background-attachment: fixed;
background-position:center;
background-repeat: no-repeat;
image-rendering: pixelated;
image-rendering: -moz-crisp-edges;
image-rendering: crisp-edges;
}
@font-face {
font-family: "determination_sans_webregular";
src: url("determinationsanswebregular-369x-webfont.woff") format("woff");
}
body {
font-family: 'determination_sans_webregular';
}
p {
font-size: 20px;
}
a:link {
color: green;
background-color: transparent;
text-decoration: none;
}
a:visited {
color: green;
background-color: transparent;
text-decoration: none;
}
a:hover {
color: #73e09f;
background-color: transparent;
text-decoration: underline;
}
a:active {
color: yellow;
background-color: transparent;
text-decoration: underline;
}
img {
border: 3px solid #6edb9c;
}
.welcome {
font-size: 30px;
}
